@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee79;
  font-family: 'Josefin Sans', sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-btn {
  justify-content: space-between;
}

.display-block {
  display: block;
}

main {
  margin: 48px;
}

header {
  margin: 12px;
}

header h1 {
  color: #ff9203fd;
}

.main-section {
  margin: 0 8px;
}

.right-col,
.left-col {
  flex: 1;
  margin: 18px;
}

.title {
  margin: 15px 0;
}

.refresh-btn {
  text-decoration: none;
  padding: 6px;
  background-color: #ff9203fd;
  color: #ffff;
  font-weight: 700;
}

.list-container {
  border: 1px solid black;
}

.scores-list {
  list-style-type: none;
}

.list-item {
  margin: 12px;
}

.list-item span {
  margin-left: 12px;
}

form {
  width: 70%;
}

form input,
button {
  padding: 12px;
  margin: 8px 0;
  outline: none;
  border: 0.3px solid #ff9203fd;
}

.input-width {
  width: 100%;
}

.submit-btn {
  width: 100px;
  float: right;
  background-color: #ff9203fd;
  color: #ffff;
  font-weight: 700;
  border: none;
}

.submit-btn:hover,
.refresh-btn:hover {
  background-color: #f5be08fd;
  color: #ffff;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  main {
    margin: 24px;
  }

  .main-section {
    flex-direction: column-reverse;
  }

  form {
    width: 100%;
  }
}
